## **Question 1**
Create a Pandas Series from a list of temperatures: 22, 25, 30, 28, 35, 32, 33 and label the indexes as Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday and specify the data type to be ```float32```.\
Display the series.

In [2]:
## importing pandas and numpy for our answer##

import pandas as pd
import numpy as np

In [11]:
temperatures = pd.Series(
    [22, 25, 30, 28, 35, 32, 33],
    index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    dtype="float32"
)

temperatures

Monday       22.0
Tuesday      25.0
Wednesday    30.0
Thursday     28.0
Friday       35.0
Saturday     32.0
Sunday       33.0
dtype: float32

## **Question 2**
Construct a Pandas Series with  20 numbers from 100 to 150 and create an index from 1- 20 using the ```np.arange``` function. Specify the data type to be of ```float64```.

In [15]:
## creating pandas series ##

series_100_to_150 = pd.Series(
    np.linspace(100, 150, 20),
    index=np.arange(1, 21),
    dtype="float64"
)

series_100_to_150

1     100.000000
2     102.631579
3     105.263158
4     107.894737
5     110.526316
6     113.157895
7     115.789474
8     118.421053
9     121.052632
10    123.684211
11    126.315789
12    128.947368
13    131.578947
14    134.210526
15    136.842105
16    139.473684
17    142.105263
18    144.736842
19    147.368421
20    150.000000
dtype: float64

## **Question 3**
Create a pandas DataFrame with 10 rows with the following columns:
- Name (random names with your name being the first)
- State
- Age
- Weight (in kg)
- Gender

Display the DataFrame

In [19]:
## answers to question 3##
import pandas as pd

data = {
    "Name": ["Favour", "Alice", "Bob", "Charles", "Diana", "Ethan", "Fiona", "George", "Hannah", "Ivan"],
    "State": ["Lagos", "Abuja", "Kaduna", "Kano", "Enugu", "Jos", "Ibadan", "Benin", "Port Harcourt", "Sokoto"],
    "Age": [24, 22, 30, 28, 26, 32, 29, 25, 27, 31], 
    "Weight": [65, 55, 80, 78, 60, 90, 70, 68, 59, 75],
    "Gender": ["Female", "Female", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male"]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name          State  Age  Weight  Gender
0   Favour          Lagos   24      65  Female
1    Alice          Abuja   22      55  Female
2      Bob         Kaduna   30      80    Male
3  Charles           Kano   28      78    Male
4    Diana          Enugu   26      60  Female
5    Ethan            Jos   32      90    Male
6    Fiona         Ibadan   29      70  Female
7   George          Benin   25      68    Male
8   Hannah  Port Harcourt   27      59  Female
9     Ivan         Sokoto   31      75    Male

## **Question 4**
For the above DataFrame, write code to print its shape, columns, and the data type of each column.

In [24]:
##answers to question 4##

df_shape = df.shape
df_columns = df.columns.tolist()
df_dtypes = df.dtypes

print (df_shape, 
      df_columns,
      df_dtypes)

(10, 5) ['Name', 'State', 'Age', 'Weight', 'Gender'] Name      object
State     object
Age        int64
Weight     int64
Gender    object
dtype: object

## **Question 5**

Add a new column `occupation` to the DataFrame you created.

In [28]:
## answer to question 5##

df["Occupation"] = ["Student", "Engineer", "Doctor", "Lawyer", "Nurse", "Teacher", "Artist", "Chef", "Banker", "Pilot"]

# Display the updated DataFrame
print(df)

      Name          State  Age  Weight  Gender Occupation
0   Favour          Lagos   24      65  Female    Student
1    Alice          Abuja   22      55  Female   Engineer
2      Bob         Kaduna   30      80    Male     Doctor
3  Charles           Kano   28      78    Male     Lawyer
4    Diana          Enugu   26      60  Female      Nurse
5    Ethan            Jos   32      90    Male    Teacher
6    Fiona         Ibadan   29      70  Female     Artist
7   George          Benin   25      68    Male       Chef
8   Hannah  Port Harcourt   27      59  Female     Banker
9     Ivan         Sokoto   31      75    Male      Pilot

## **Question 6**

Create two Series, `A` and `B`, containing the numbers 1 - 5 and 6 - 10 respectively. Compute the sum, difference ```(B-A)```, and product of `A` and `B`.

In [10]:
##answer to question 6##


import pandas as pd

# Create Series A with values from 1 to 5

A = pd.Series([1, 2, 3, 4, 5], index=[1, 2, 3, 4, 5])

# Create Series B with values from 6 to 10 and index from 1 to 5
B = pd.Series([6, 7, 8, 9, 10], index=[1, 2, 3, 4, 5])

# Compute the sum of A and B
sum_result = A + B

# Compute the difference (B - A)
difference = B - A

# Compute the product of A and B
product = A * B

# Display the results
print("Series A:")
print(A)
print("\nSeries B:")
print(B)
print("\nSum (A + B):")
print(sum_result)
print("\nDifference (B - A):")
print(difference)
print("\nProduct (A * B):")
print(product)

Series A:
1    1
2    2
3    3
4    4
5    5
dtype: int64

Series B:
1     6
2     7
3     8
4     9
5    10
dtype: int64

Sum (A + B):
1     7
2     9
3    11
4    13
5    15
dtype: int64

Difference (B - A):
1    5
2    5
3    5
4    5
5    5
dtype: int64

Product (A * B):
1     6
2    14
3    24
4    36
5    50
dtype: int64

## **Answers to question 7**

**1. apply()**

Applies a function along the elements of the Series. This method is useful for element-wise transformations or applying custom functions.

**Python:** series.apply(lambda x: x * 2)

**2.map()**

Maps the elements of the Series according to a given mapping (such as a dictionary, function, or Series). It's similar to apply() but works more specifically for element-wise transformations with mappings.

**python:** series.map({1: 'A', 2: 'B', 3: 'C'})

**3. replace()**

Replaces specified values in the Series with new values. It’s useful for data cleaning and transformation.

**python:** series.replace(1, 100)

**4. isnull()**

Returns a boolean Series indicating whether each element is NaN (missing) or not. It is useful for detecting missing data in the Series.

**python:** series.isnull()

**5. value_counts()**

Returns a Series containing the count of unique values, sorted in descending order. This is useful for understanding the distribution of categorical data.


**python:** series.value_counts()

**6. unique()**

Returns an array of unique values in the Series. This is useful when you want to know the distinct elements within the data.

**python:** series.unique()

**7. describe()**

Provides a summary of statistics for a numerical Series, including count, mean, standard deviation, min, max, and quantiles.

**python:** series.describe()

**8.shift()**

Shifts the values in the Series by a specified number of positions. This is commonly used to shift data for time series analysis.

**python** series.shift(1)

**9. sort_index()**

Sorts the Series by its index. This can be useful when the index is not in the desired order.


**python** series.sort_index()

**10. tail(n)**

Similar to head(), this returns the last n elements of the Series.


**python** series.tail(3)  # Returns the last 3 elements

## **Question 8**

Lists 10 attributes/methods of a DataFrame and explain what they do

## answers to question 8

**shape** – Returns a tuple representing the dimensions of the DataFrame (rows, columns).

**columns** – Displays the column labels of the DataFrame.

**info()** – Summarizes the DataFrame including data types, non-null counts, and memory usage.

**head(n)** – Returns the first n rows of the DataFrame; default is 5.

**tail(n)** – Returns the last n rows; also defaults to 5 if n is not specified.

**describe()** – Generates descriptive statistics (mean, std, min, etc.) for numeric columns.

**drop()** – Removes specified rows or columns from the DataFrame.

**groupby()** – Groups data based on specified column(s), allowing for aggregation.

**isnull()** – Returns a DataFrame of the same shape with True for missing values (NaN) and False otherwise.

**merge()** – Combines two DataFrames using database-style join operations (inner, left, right, outer).

## **Question 9**

Highlight 3 differences between a `Series` and `DataFrame`

In [30]:
## answers to question 9##


data = {
    "Aspect": ["Structure", "Number of Columns", "Data Representation"],
    "Series": [
        "One-dimensional",
        "Only one column",
        "Like a single column (e.g., in Excel)"
    ],
    "DataFrame": [
        "Two-dimensional",
        "Multiple columns",
        "Like a full table or spreadsheet"
    ]
}

# Create the DataFrame and set the index to start from 1
comparison_table = pd.DataFrame(data, index=[1, 2, 3])
comparison_table

,Aspect,Series,DataFrame
1,Structure,One-dimensional,Two-dimensional
2,Number of Columns,Only one column,Multiple columns
3,Data Representation,"Like a single column (e.g., in Excel)",Like a full table or spreadsheet

## **Question 10**
List two key points you learnt in week 6 classes

**##answers to question 10##**

1. i learnt how to import csv files and and the methods.
2. i learnt that python dictionary datatype is actually a pandas dataframe, restructuring the key value, pairs into columns and rows with with each item value aligning with their corresponding keys arranged in columns