## **WEEK 7 ASSIGNMENT_ATADOGA FAVOUR_COHORT 3**

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('customer_bookings.csv')
# Display the first 5 rows
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262.0,19.0,7.0,Sat,AKLDEL,New Zealand,1.0,0.0,0.0,5.52,0
1,1,Internet,RoundTrip,112.0,20.0,3.0,Sat,AKLDEL,New Zealand,0.0,0.0,0.0,5.52,0
2,2,Internet,RoundTrip,243.0,22.0,17.0,Wed,AKLDEL,India,1.0,1.0,0.0,5.52,0
3,1,Internet,RoundTrip,96.0,31.0,4.0,Sat,AKLDEL,New Zealand,0.0,0.0,1.0,5.52,0
4,2,Internet,RoundTrip,68.0,22.0,15.0,Wed,AKLDEL,India,1.0,0.0,1.0,5.52,0

# **Question 1: What is the shape of the dataframe and what does it mean?**

In [5]:
## Answer to question 1
df_shape = df.shape
df_shape

(50017, 14)

In [ ]:
The shape of the dataframe is (50017, 14).

This means the dataset contains 50,017 rows (individual booking records) and 14 columns (features or variables related to each booking).

# **Question 2: How many columns have null values and how many duplicate records are in the dataset?**

In [7]:
## Answers to question 3##

# Check how many columns have null values
null_columns = df.isnull().sum()
num_columns_with_nulls = (null_columns > 0).sum()
print(f"Number of columns with null values: {num_columns_with_nulls}")

# Check how many duplicate rows exist
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of columns with null values: 12
Number of duplicate rows: 735

## **Question 3: Remove duplicates, rows with null values and the `purchase lead` and `booking origin` columns, what is the new shape of the dataframe?**

In [8]:
##ANSWERS TO QUESTION 3##

# Make a copy to avoid modifying the original

df_cleaned = df.drop_duplicates()
df_cleaned = df_cleaned.dropna()
df_cleaned = df_cleaned.drop(columns=['purchase_lead', 'booking_origin'])

# Get the new shape
df_cleaned.shape

(49207, 12)

In [ ]:
##This would mean:##

The cleaned dataset now has 49,207 rows (after removing bad data)

and 12 columns (since you dropped 2 columns from the original 14).

## **Question 4: What are the different datatypes we have in the dataset?**

In [9]:
#ANSWERS TO QUESTION 4##

## finding the data types shape##

df.dtypes

num_passengers             int64
sales_channel             object
trip_type                 object
purchase_lead            float64
length_of_stay           float64
flight_hour              float64
flight_day                object
route                     object
booking_origin            object
wants_extra_baggage      float64
wants_preferred_seat     float64
wants_in_flight_meals    float64
flight_duration          float64
booking_complete           int64
dtype: object

## **Question 5:  What are the different `trip types` available to customers and which one is mostly used?**

In [10]:
##ANSWERS TO QUESTION 5##

## Unique trip types##

print("Trip Types:", df['trip_type'].unique())

# Most frequent trip type
print("Most common trip type:\n", df['trip_type'].value_counts())

Trip Types: ['RoundTrip' 'CircleTrip' 'OneWay' nan]
Most common trip type:
 trip_type
RoundTrip     49509
OneWay          387
CircleTrip      116
Name: count, dtype: int64

## **Question 6: What is the most used `sales channel` for booking by customers?**

In [11]:
##ANSWERS TO QUESTION 6##

df['sales_channel'].value_counts()

##the most used sales channel for booking can be seen below##

sales_channel
Internet    44386
Mobile       5621
Name: count, dtype: int64

In [16]:
## the most used sales channel for booking by customer shows internet (44,386)

## **Question 7:  Which day had the highest `total number of flights`?**##

In [12]:
##ANSWERS TO QUESTION 7 BELOW##

df['flight_day'].value_counts()

flight_day
Mon    8105
Tue    7676
Wed    7674
Thu    7426
Fri    6764
Sun    6556
Sat    5812
Name: count, dtype: int64

In [12]:
## MONDAY HAS THE DAY WITH HIGHETS TOTAL NUMBER OF FLIGHTS (8105)

flight_day
Mon    8105
Tue    7676
Wed    7674
Thu    7426
Fri    6764
Sun    6556
Sat    5812
Name: count, dtype: int64

## **Question 8: How many customers wanted a `preferred seat` and in `flight meals`?**##

In [13]:
##SEE ANSWERS BELOW##

preferred_seat_count = df['wants_preferred_seat'].sum()
in_flight_meals_count = df['wants_in_flight_meals'].sum()

print(f"Customers who wanted a preferred seat: {preferred_seat_count}")
print(f"Customers who wanted in-flight meals: {in_flight_meals_count}")

Customers who wanted a preferred seat: 14853.0
Customers who wanted in-flight meals: 21365.0

## **Question 9: Which of the `trip type` had the highest average `flight duration`?**##

In [15]:
##see answers below##

df.groupby('trip_type')['flight_duration'].mean().sort_values(ascending=False)

trip_type
OneWay        7.966770
CircleTrip    7.764828
RoundTrip     7.271532
Name: flight_duration, dtype: float64

In [ ]:
## OneWay trips have the highest average flight duration among all trip types in your dataset.##

## **Question 10: Which day of the week had the highest average `flight duration`?**

In [17]:
##see answers to question 10 below##

df.groupby('flight_day')['flight_duration'].mean().sort_values(ascending=False)

flight_day
Sun    7.374796
Sat    7.302901
Mon    7.264899
Wed    7.260923
Tue    7.258524
Thu    7.250244
Fri    7.249553
Name: flight_duration, dtype: float64

In [ ]:
## sunday was the day with the highest average flight duration##

## **THANK YOU** ##